<div class="footer">
    <div class="column">
        <div class="col-1">
            <h3>Services</h3>
            <ul>
                <li><a href="#">Home Delevary</a></li>
                <li><a href="#">Reservation</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h3>Contact Us</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>
        <div class="col-3">
            <h3>About</h3>
            <ul>
                <li><a href="#">Company</a</li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Legacy</a></li>
            </ul>
        </div>


    </div>

    <div class="copyright"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
        <p class="copyright">Chulo restrurant © 2021</p>
    </div>
</div>