<div class="header" id="myHeader">
  <div>
    <a href="./"> <img src="../img/logo.png" class="logo" /></a>
  </div>

  <div class="buttons">
    <a href="login"> <input type="button" class="btn-login" value="Purchase History" /></a>
    
  </div>
</div>

<div class="nav">
  <a href="/" class="nav-tab active">Home</a>
  <a href="/khana" class="nav-tab">Food</a>
  <a href="/cart" class="nav-tab">Cart</a>
</div>
