<h1>Purchase History</h1>
<table>
  <tr>
    <th> idcustomer</th>
    <th>iddish</th>
    
    <th>itemamount</th>
    <th>totalprice</th>
  </tr>
  <tr>
  <th>1</th>
  <th>${parseInt(
            data.id
          )}</th>
<th>${parseInt(data.quantity)}</th>
<th>${price})</th>

  </table>

1, , , `

 