<!DOCTYPE html>
<html>

<head>
    <title>
        Chulo
    </title>
<%- include('../partials/head'); %>
</head>
<header>
  <%- include('../partials/header'); %>
</header>

<body>
    <mains>
   <%- include('../partials/purchase'); %>
    </mains>
    <footer>
<%- include('../partials/footer'); %>
    </footer>
</body>
<script src="js/script.js"></script>

</html>